# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\toy\스프링강의\servlet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
